:root {
  --back-color: #a7cbff;
  --dropdown: #6299f8;
  --dropdown-hover: #4788f8;
  --dropdown-text: #063483;
  --button: #ffacff;
  --button-hover: #f99cff;
  --text-hover: #dfffb0;
  --error: #ff4868;
  --warning: #ffb34f;
}