.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  margin: 0 auto;
  background: var(--back-color);
  width: 100vw;
  height: 100vh;
  padding: 4rem;
}

.dropdown {
  position: relative;
  width: 100%;
  max-width: 35rem;
}

.dropdownButton {
  width: 100%;
  padding: 15px;
  cursor: pointer;
  border: 3px solid var(--dropdown);
  border-radius: 17px;
  text-align: left;
  color: var(--dropdown-text);
  font-family: "Apple Braille", sans-serif;
  font-size: 1.2rem;
}

.dropdownList {
  position: absolute;
  width: 100%;
  background: var(--dropdown);
  border: 1px solid var(--dropdown-text);
  border-radius: 10px;
  margin-top: 6px;
  padding: 0;
  list-style: none;
  box-shadow: 0 6px 12px rgba(249, 141, 255, 0.45);
  z-index: 10;
  color: var(--dropdown-text);
  font-family: "Apple Braille", sans-serif;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: #f99cff;
    border-radius: 11px;
  }
}

.preview {
  padding: 2rem;
  border: 1px dashed var(--dropdown);
  border-radius: 2rem;
  background: #dce6ff;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  height: 80vh;
}

.demo{
  font-family: "Apple Braille", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: var(--dropdown-text);
}