.textarea {
  width: 50%;
  padding: 1rem;
  font-family: "Apple Braille", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: greenyellow;
  border-radius: 0.8rem;
  border: 2px solid var(--button-hover);
  resize: vertical;
  background: rgba(249, 141, 255, 0.45);
  outline: none;

  &::placeholder{
    color: var(--button-hover);
    font-weight: 600;
  }
}
